{% extends 'base.html' %}
{% block title %}Подтверждение{% endblock %}
{% block urls %}
	<a href="/menu/" class="is-ghost">Меню</a>
	<a href="/settings/" class="is-ghost">Настройки</a>
	<a href="/reservations/" class="is-ghost">Бронирования</a>
	<a href="/profile/" class="is-ghost">Профиль</a>
{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'finish_booking.css' %}" rel="stylesheet" type="text/css">
<div class="box-container">
	<h2 class="title is-3">Подтвердите бронирование</h2>
	<div class="box">
		<h3 class="subtitle is-5">Место: <b>{{ place.place.short_name }}</b></h3>
		<h3 class="subtitle is-5">Тип места: <b>{{ place.name }}</b></h3>
		<h3 class="subtitle is-5">Офис: <b>{{ office_str.address }}</b></h3>
		<h3 class="subtitle is-5">Время бронирования: <b>{{ time }}</b></h3>
		<h3 class="subtitle is-5">Дата бронирования: <b>{{ date_str }}</b></h3>
	</div>
	<div class="buttons-row">
		<a class="button is-danger" href="/reservations/">Отмена</a>
		<a class="button is-success" href="/book/{{ place.pk }}?office={{office}}&date={{date}}&time={{time}}&success=1">Подтвердить</a>
	</div>
</div>
{% endblock %}