form {
	width: fit-content;
	padding: 20px;
	justify-content: center;
}
.box {
	padding: 30px;
}
.form-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	padding-bottom: 100px;
	gap: 10px;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.asterisk {
	display: none;
}
#div_id_is_blocked {
	display: none;
}
.field-and-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}